html body .ui-btn.ui-btn-b.ui-custom-alert, html body .ui-body-b.ui-custom-alert {
  background-color: #FFD060;   
}

body {
    font-family: Roboto, Noto, sans-serif;
    color: #212121;
}

a {
    text-decoration: none;
    color: inherit;
}

div.list paper-item {
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

div.list paper-icon-item {
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

div.list paper-item-body {
    width: 100%;
}

.item-ripple:hover {
    background: #f5f5f5;
    transition: 0.3s;
}

.item-ripple:active {
    background: #e0e0e0;
    transition: 0.5s;
}

.card {
    margin: 16px;
}

.card h2 {
    padding: 16px;
    margin: 0px;
}

.problem {
    background-color: #ffeb3b;
}

.ok {
    color: white;
    background-color: #03a9f4;
}

.elevator-status {
    float: right;
}
