<div data-role="page" id="help">
    <div data-role="header" data-theme="e"><h1 style="white-space: normal">Bienvenue sur DispoTrains</h1></div>
    <div data-role="content" data-theme="d">
	    <h2>DispoTrains</h2>
		<p>DispoTrains: l'information (presque) temps-réel sur l'accessibilité du réseau ferré d'Ile-de-France aux usagers à mobilité réduite.</p>
        <h3>Comment utiliser ce site ?</h3>
        <p>
        Les gares sont classées par ligne. Sélectionnez une ligne pour afficher toutes les gares accessibles. Les gares
        disposant d'ascenseurs hors-services sont signalées.</p>
        <p>Il est également possible d'afficher des information détaillées
        sur la gare : le détail de ses ascenseurs, sa situation géographique, ainsi que les lignes disponibles.
        </p>
        <a href="/" data-role="button">C'est parti !</a>
    </div>
</div>

<div data-role="page" id="apropos">
    <div data-role="header" data-theme="e"><h1 style="white-space: normal">À propos de DispoTrains</h1></div>
    <div data-role="content" data-theme="d">
        <h3>À propos</h3>
        <p>Ce site est donné à titre indicatif uniquement. Il est possible que les informations qu'il contient soient incomplètes, inexactes ou en retard par rapport à la situation réelle.
        N'hésitez pas à <a href="https://etienne.membrives.fr">me contacter</a> si vous repérez de tels problèmes afin que je puisse y remédier.</p>
        <p>Le contenu de ce site est généré de manière automatique à partir d'informations fournies par le <a href="http://www.stif.info">STIF</a> via sa plateforme <a href="http://www.infomobi.com">Infomobi</a>. L'ensemble des données, avec l'historique complet, est disponible en téléchargement sous forme <a href="/static/data/dump.tar.bz2">d'archive JSON</a>.</p>
        <p>Thème graphique par <a href="http://nativedroid.godesign.ch">Raphael Wildhaber</a>, icônes par <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a></p>
	</div>
</div>
