<html>
    <head>
    <title>{{ .Network }} {{ .ID }} - Dispotrains</title>
    {{template "header.html"}}
    </head>
    <body id="app">
    <div id="line" data-role="page">
        <div data-role="header" data-position="fixed">
            <a href="/" data-role="button" data-icon-post="notext" title="Accueil"><i class="fa fa-home"></i></a>
            <h1>{{ .Network }} {{ .ID }} - Dispotrains</h1>
            <a href="#help" data-rel="dialog" data-transition="pop" title="A propos"><i class="fa fa-info-circle"></i></a>
        </div>

        <div data-role="content">
            <ul data-role="listview" data-inset=true data-filter=true>
            {{ if .BadStations }}
            <li data-role="list-divider">Avec dysfonctionnement(s)</li>
                {{ range .BadStations }}
                <li data-icon="alert" data-theme="b"><a href="/gare/{{.Name}}" class="ui-custom-alert">{{.DisplayName}}</a></li>
                {{ end }}
            {{ end }}
            {{ if .GoodStations }}
                <li data-role="list-divider">En fonctionnement</li>
                {{ range .GoodStations }}
                <li><a href="/gare/{{.Name}}">{{.DisplayName}}</a></li>
                {{ end }}
            {{ end }}
            </ul>
        </div>

        <div data-role="footer" data-position="fixed">
        	<h4><a href="#apropos" data-role="button" data-rel="dialog" data-transition="pop">À propos</a></h4>
	    </div>
    </div>
    {{template "footer.html"}}
    </body>
</html>
