<html lang="fr">
    <head>
    <title>Dispotrains - Accessibilité en Ile-de-France</title>
    {{template "header.html"}}
    <meta name="description" content="Dispotrains: l'accessibilité temps-réel pour les usagers à mobilité réduite des transports d'Ile-de-France"/>
    </head>
    <body class="fullbleed vertical layout" >
        <paper-header-panel class="flex orange">
            <paper-toolbar id="mainheader">
                <paper-icon-button id="about" icon="info-outline"></paper-icon-button>
                <span flex>DispoTrains: Lignes accessibles</span>
            </paper-toolbar>
            <div>
                {{range .}}
                <paper-item><a href="/ligne/{{.ID}}"><paper-button class="flex">{{ .Network }} {{ .ID }}</paper-button></a></paper-item>
                {{end}}
            </div>
            <div data-role="footer" data-position="fixed"><h4><a href="#apropos" data-role="button" data-rel="dialog" data-transition="pop">À propos</a></h4></div>
        </paper-header-panel>
    </body>
</html>
