<html>
    <head>
    <title>Dispotrains</title>
    {{template "header.html"}}
    </head>
    <body id="app">
    <div id="main" data-role="page">
        <div data-role="header" data-position="fixed"><h1 style="white-space: normal">DispoTrains: Lignes</h1>
            <a href="#help" data-rel="dialog" data-transition="pop" title="A propos"><i class="fa fa-info-circle"></i></a>
        </div>
        <div data-role="content">
            <ul data-role="listview" data-inset=true data-filter=false>
                {{range .}}
                    <li><a href="/ligne/{{.ID}}">{{ .Network }} {{ .ID }}</a></li>
                {{end}}
            </ul>
        </div>
        <div data-role="footer" data-position="fixed"><h4><a href="#apropos" data-role="button" data-rel="dialog" data-transition="pop">À propos</a></h4></div>
    </div>
    {{template "footer.html"}}
    </body>
</html>
