<html lang="fr">
    <head>
    <title>{{ .DisplayName }} - Dispotrains</title>
    {{template "header.html"}}
		<meta name="description" content="État des équipements d'accessibilité aux usagers à mobilité réduite à {{ .DisplayName }} mis-à-jour en temps-réel"/>
    </head>
    <body id="app">
    <div id="station" data-role="page" data-add-back-btn="true">
        <div data-role="header" data-position="fixed">
            <a href="/" data-role="button" data-icon-post="notext" title="Accueil"><i class="fa fa-home"></i></a>
            <h1>{{ .DisplayName }} - Dispotrains</h1>
            <a href="#help" data-rel="dialog" data-transition="pop" title="A propos"><i class="fa fa-info-circle"></i></a>
        </div>

        <div data-role="content">
            <div data-role="collapsible-set" data-theme="" data-content-theme="">
                <div data-role="collapsible" data-collapsed="false" id="elevators">
                    <h2>Ascenseurs</h3>
                    <div class="data">
                        <ul data-role="listview" data-inset=false data-filter=false>
                            {{ range .Elevators }}
                            <li {{if not (eq .Status.State "Disponible")}}data-icon="alert" data-theme="b" class="ui-custom-alert"{{end}}>
                            <h3 style="white-space: normal">{{.Situation}}</h3>
                            <p>{{.Direction}} - Situation du <strong>{{.LocalStatusDate}}</strong></p>
                            <p class="ui-li-aside">{{.Status.State}}</p>
                            </li>
                            {{end}}
                    </div>
                </div>
            </div>
        </div>
        <div data-role="footer" data-position="fixed">
    		<h4><a href="#apropos" data-role="button" data-rel="dialog" data-transition="pop">À propos</a></h4>
	    </div>
    </div>
    {{template "footer.html"}}
    </body>
</html>
